<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsd.contest.spain.pingoapp">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pingo"
        android:label="PINGO"
        android:roundIcon="@mipmap/ic_launcher_pingo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityDeSugerencias"></activity>
        <activity
            android:name=".ActivityDeElJuego"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ActivityYoNuncaTipos"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ActivityYoNuncaClasico"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ActivityDeAutopista"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ActivityDeAyuda"
            android:label="@string/titulo_ayuda" />
        <activity
            android:name=".ActivityDeYoNunca"
            android:label="@string/titulo_yo_nunca"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ActivityDePingo"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>